registry=https://packages.aliyun.com/62cbbcbca61bf880d4cb64f9/npm/chatknow/
always-auth=true
//packages.aliyun.com/62cbbcbca61bf880d4cb64f9/npm/chatknow/:_authToken=0936cce4-a019-495a-9dd8-981c32167e1b



shell-emulator=true
# 提升依赖项
shamefully-hoist=true
